/* PALETA DE COLORES
black
#a2d40cf5
#525151 
white*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #434343;
}

p {
  color: white;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

header {
  width: 100%;
  height: auto;
  overflow: none;
}

.navbar {
  background: #a2d40cf5;
  position: sticky;
  top: 0%;
  z-index: 2;
}
.navbar2 a {
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: 100%;
  color: #000;
  transition: .3s ease-out all;
}
.navbar2 a:hover {
  background: #343434;
  color: #fff;
  text-decoration: none;
}

.fuente{
  font-size: 20px;
  font: bold;
  color: black;
}
.mynav a:hover{
  background: rgba(0, 0, 0, 0.377);
  color:black;
}
a.nav-link.active.fuente{
  color: white;
}
a.nav-link.fuente{
  color: #000;
}

#blog {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.titulo {
  color: white;
}

.titulo2 {
  color: black;
}

h1 {
  color: white;
}

.fecha {
  color: white;
}

.hover {
  color: #000;
}

::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0,05);
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008AFF, #00FFE7);
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#progressbar::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008AFF, #00FFE7);
  filter: blur(30px);
}
#progressbar::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008AFF, #00FFE7);
  filter: blur(30px);
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */
.contenedor-imagen {
  height: 100vh;
}
.contenedor-imagen img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

.padding-main {
  padding: 100px;
}

main {
  min-height: 100vh;
  padding-bottom: 200px;
}
main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
}
main .contenido .titulo {
  font-weight: normal;
  padding-top: 40px;
}
main .contenido .fecha {
  font-size: 14px;
}
/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */
aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #a2d40cf5; /*FONDO DE TEMAS*/
  padding: 20px;
  border-radius: 3px;
  position: sticky;
  top: 10px;
}
aside .titulo {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
  color: #f2f2f2;
}
aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #3f3f3f;
}
/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
footer > div {
  background-color: #000;
  display: flex;
  padding: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.falacias {
  background: linear-gradient(
    to right,
    rgba(84, 90, 66, 0.116),
    rgba(110, 98, 98, 0.582)
  );
  border-radius: 10px;
  box-shadow: 5px 10px #343434;
  flex-wrap: wrap;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 350px;
}

.color {
  background-color: #aeea00;
  color: white;
}
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */

@media screen and (max-width: 960px) {
  .container .card {
    position: relative;
    width: 218px;
    height: 418px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    flex: 1;
  }
  .contenedor-imagen {
    height: 50vh;
  }
  main .contenedor {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  aside {
    display: none;
    /* width: 30vh;
      margin-left: -22vh; */
  }
  main .contenedor {
    flex-direction: column;
    margin: auto;
    width: 50vh;
  }
}
@media (max-width: 768px) {
  aside {
    display: none;
    /* width: 40vh;
      margin-left: -52vh; */
  }
  main .contenedor {
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    margin: auto;
    margin-top: -20vh;
  }
}

@media (max-width: 600px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .navbar a {
    width: auto;
    flex: 1;
  }

  aside {
    display: none;
  }

  main .contenedor {
    flex-direction: column;
    margin: auto;
    width: 40vh;
    margin-top: -30vh;
  }
}

@media (max-width: 530px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    flex: 1;
  }
  aside {
    display: none;
  }
  main .contenedor {
    flex-direction: column;
    margin: auto;
    width: 40vh;
    margin-top: -30vh;
  }
}
@media (max-width: 360px) {
  main .contenedor {
    flex-direction: column;
    margin: auto;
    margin-top: -40vh;
  }
}
/** =================== */
/** ======VIDEO======== */
/** =================== */
video {
  width: 100%;
  height: 80%;
}
.absolute {
  color: white;
  width: 100%;
  height: 80%;
  top: 70vh;
  right: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.h1 {
  font-size: 55px;
  font-weight: 700;
  z-index: 1;
  color: #fff;
}
/* CARRITO */
.padre {
  height: 1050px;
  display: flex;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carrito {
  height: 500px;
  width: 1200px;
  position: relative;
  background-color: #a2d40cf5;
  display: flex;
  margin: auto;
  margin-top: 150px;
  /* justify-content: center;
align-items: center; */
}
.items {
  padding: 30px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card button {
  border: solid 1px #3f3f3f;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #aeea00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  color: white;
  background-color: #3f3f3f;
  border: solid 2px #aeea00;
}

.biciCompra{
  cursor:pointer;
}
/*PROMO*/

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 100%;
  margin: auto;
}

.imagenBici {
  opacity: 0.5;
}

.lema {
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.fondobici {
  text-align: center;
  background-image: url(./images/fondobici2.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.animate {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  list-style-type: none;
  border: 2px solid #aeea00;
  margin-bottom: 60px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 (0, 0, 0, 0.2);
}
/* Pricing header */
.price .header {
  background-color: #aeea00;
  color: black;
  font-style: bold;
}
/* List items */
.price li {
  border-bottom: 2px solid wheat;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}
/* Grey list item */
.price .grey {
  background-color: #000;
  font-size: 20px;
}
/* The "Sign Up" button */
.button {
  background-color: #aeea00;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: large;
}

/*CARD CON LA FOTO*/

/*==========================*/
.premium {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
/* Style the list */

.price {
  color: grey;
  font-size: 22px;
}
/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 (0, 0, 0, 0.2);
}
/* Pricing header */
.price .header {
  background-color: #aeea00;
  color: black;
  font-style: bold;
}
/* List items */
.price li {
  border-bottom: 2px solid wheat;
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}
/* Grey list item */
.price .grey {
  background-color: #000;
  font-size: 20px;
}
/* The "Sign Up" button */
.button {
  background-color: #aeea00;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
.clear {
  clear: both;
}
.colorLetra {
  color: wheat;
}
.acomodarTargetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 280px;
  height: 500px;
  margin: 30px auto;
}

.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
  position: relative;
  height: 252px;
  background: #aeea00;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #aeea00 8%, #525151 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #aeea00 8%, #525151 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #aeea00 8%, #525151 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#aeea00', endColorstr='#525151 ', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
  position: absolute;
  left: 0;
  margin-top: 100px;
  margin-left: 50px;
}

.product-detail {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 315px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #a2d40cf5;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #525151;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: "";
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid #aeea00;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  background: #aeea00;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px #525151;
}

.product-price b {
  margin-left: 5px;
}

.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
  background: rgba(0, 0, 0, 0.2);
}

/*============================*/
/*====TARJETAS VIEJAS=====*/
/*========================*/
